/**********************
* HEADER
**********************/
@font-face {
	font-family: Gotham;
	src: url(../fonts/trump_gothic_east_bold.ttf);
}

@font-face {
	font-family: Myriad;
	src: url(../fonts/Myriad-Pro_31655.ttf);
}

body {
	font-size: 14px;
	font-family: Myriad;
	background-color: #c2bdba;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Gotham;
}

header {
	width: 100%;
	height: 89px;
	background-color: #084F70;
	color: #fff;
}

header div {
	height: 100%;
}

header .header-main-container {
	display: table;
}

header .header-main-container h1,
header .header-main-container p {
	display: table-cell;
	vertical-align: middle;
}

header .header-main-container:nth-child(2) {
	text-align: right;
	font-weight: 700;
}

header .header-main-container button {
	background-color: #1ab188;
	margin-left: 20px;
}


