/**********************
* HEADER
**********************/
@font-face {
	font-family: Gotham;
	src: url(../fonts/trump_gothic_east_bold.ttf);
}

body {
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Gotham;
}

header {
	width: 100%;
	height: 89px;
	background-color: #084F70;
	line-height: 89px;
}

.site-title {
	text-align: center;
	color: #fff;
	font-size: 300%;

}