/**********************
* HEADER
**********************/
@font-face {
	font-family: Gotham;
	src: url(../fonts/trump_gothic_east_bold.ttf);
}

@font-face {
	font-family: Myriad;
	src: url(../fonts/Myriad-Pro_31655.ttf);
}

body {
	font-size: 14px;
	font-family: Myriad;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Gotham;
}

header {
	width: 100%;
	height: 89px;
	background-color: #084F70;
	color: #fff;
	position: relative;
	display: table;
}

.header-main-container {
	display: table-cell;
	vertical-align: middle;
}




